@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red; }

.navbar .navbar-brand {
  font-size: 25px;
  font-weight: 700;
  color: #1264fa;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s; }

.navbar .nav-item {
  color: #000; }
  .navbar .nav-item .nav-link {
    color: #000;
    font-size: 19px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 0px 13px; }
    @media (max-width: 991px) {
      .navbar .nav-item .nav-link {
        font-size: 22px;
        margin: 0;
        padding: 10px 0px; }
        .navbar .nav-item .nav-link.mrgn {
          margin-top: 10px; } }
    .navbar .nav-item .nav-link.dropdown-toggle::after {
      margin-left: unset;
      position: relative;
      top: 2px; }
    .navbar .nav-item .nav-link:hover {
      color: #1264fa; }

.navbar .navbar-nav {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s; }

.hero {
  margin: 17px 0px 0px 0px; }

.bg-light {
  background-color: #ffffff !important;
  padding: 30px 0; }
  @media (max-width: 991px) {
    .bg-light {
      padding: 25px 0; } }
  @media (max-width: 767px) {
    .bg-light {
      padding: 12px 0; } }

.collapse.navbar-collapse {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav-link.link__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

figure .img-fluid {
  position: relative; }

figure .quote {
  position: relative;
  padding: 10px 10px;
  background-color: white; }

.block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0px;
  background: url(../img/block_1/background_img.jpg) 100% no-repeat;
  background-size: cover;
  width: 100%; }
  .block_1 .block_1__title {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 7px 10px;
    font-size: 37px; }
  .block_1 .block_1__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    font-size: 18px;
    padding: 0px 15px;
    line-height: 24px; }

.block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0px; }
  @media (max-width: 991px) {
    .block_2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .block_2 .block_2__info {
        max-width: 700px; } }

@media (max-width: 991px) {
  .block_2__logo-container__img {
    padding: 0px 0px 30px 0px; } }

.block_2__info {
  background: #000839;
  color: #fff;
  padding: 50px 50px;
  font-size: 18px;
  max-width: 800px; }
  @media (max-width: 1200px) {
    .block_2__info {
      max-width: 600px; } }

.block_2__info__title {
  padding: 0px 0px 10px 0px; }

.block_2__info__text {
  line-height: 23px; }

.container-fluid.block__3 {
  background: #f8f9fa; }

.block_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px 0px; }
  @media (max-width: 991px) {
    .block_3 {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 580px) {
    .block_3 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }

.block_3__item {
  text-align: center;
  padding: 15px 20px;
  margin: 13px 13px;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background: #fff; }
  .block_3__item img {
    max-width: 237px;
    max-height: 163px;
    margin-bottom: 10px; }

.block_3__item__title {
  font-size: 20px;
  font-weight: 700; }

.block_3__item__subtitle {
  font-size: 16px;
  font-weight: 600; }

.wrapper {
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Основные стили */
.slick-slider {
  min-width: 0; }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/* Слайд */
/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px; }

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px; }
  .slider {
    padding: 0px 40px; } }

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none; }
  .slider .slick-arrow:focus {
    border: none;
    outline: none; }

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/left_icon-icons.com_61213.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/right_icon-icons.com_61212.svg") 0 0/100% no-repeat; }

.slider .slick-arrow.slick-disabled {
  opacity: 0.2; }

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
  padding: 0; }

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%; }
  .slider .slick-dots button:focus {
    outline: none; }

.slider .slick-dots li.slick-active button {
  background-color: transparent; }

.slider__item {
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .slider__item .slider__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 360px;
    min-width: 235px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px; }
    @media (max-width: 500px) {
      .slider__item .slider__block {
        -webkit-box-shadow: unset;
        box-shadow: unset; } }

.slider__item img {
  max-width: 60%; }

.slider__item__block {
  text-align: center;
  padding: 20px 10px;
  display: block;
  color: #000; }
  .slider__item__block:focus {
    outline: none; }
  .slider__item__block:hover {
    text-decoration: none !important;
    cursor: pointer;
    color: #000; }

.slider__item__block__title {
  font-size: 25px;
  color: #000;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
  text-align: center;
  padding: 7px 0px; }
  .slider__item__block__title:focus {
    outline: none; }
  .slider__item__block__title:hover {
    color: #0f4cbe;
    text-decoration: none; }

.slider__item__block__text {
  padding: 0px 20px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  text-align: center;
  line-height: 20px; }
  .slider__item__block__text:focus {
    outline: none; }
  .slider__item__block__text:hover {
    text-decoration: none; }

.slider__item.slick-slide.slick-active:focus {
  outline: none; }

footer {
  background: #f8f9fa;
  padding: 30px 0px; }
  @media (max-width: 500px) {
    footer .adpt {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media (max-width: 767px) {
  .footer__block__left {
    margin-right: 10px; } }

@media (max-width: 500px) {
  .footer__block__left {
    text-align: center; } }

.footer__block__left__title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px 20px 0px; }

.footer__block__left__text {
  max-width: 600px;
  margin-bottom: 25px;
  line-height: 20px; }
  @media (max-width: 991px) {
    .footer__block__left__text {
      max-width: 350px; } }
  @media (max-width: 767px) {
    .footer__block__left__text {
      max-width: 305px; } }

.footer__block__left__social a {
  position: relative;
  margin: 0px 5px;
  color: #000;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  .footer__block__left__social a:hover {
    color: #1264fa;
    top: -2px; }
  .footer__block__left__social a i {
    font-size: 20px; }

.footer__block__right {
  padding-right: 20px; }
  @media (max-width: 767px) {
    .footer__block__right {
      padding-right: unset; } }
  @media (max-width: 500px) {
    .footer__block__right {
      text-align: center;
      margin-top: 10px; } }

.footer__block__right__title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px; }

.footer__block__right__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__block__right__column__item.mrg {
  margin-right: 80px; }
  @media (max-width: 991px) {
    .footer__block__right__column__item.mrg {
      margin-right: 45px; } }
  @media (max-width: 767px) {
    .footer__block__right__column__item.mrg {
      margin-right: unset; } }

@media (max-width: 767px) {
  .footer__block__right__column__item.mrg {
    margin-right: 25px; } }

.footer__block__right__column__item ul {
  padding: 0; }
  .footer__block__right__column__item ul li {
    list-style-type: none;
    margin: 16px 0px; }
    .footer__block__right__column__item ul li a {
      color: #000;
      font-size: 17px;
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
      .footer__block__right__column__item ul li a:hover {
        color: #1264fa; }

.container-fluid.breadcrumbs {
  background: #f8f9fa; }
  @media (max-width: 767px) {
    .container-fluid.breadcrumbs {
      margin: 10px 0px; } }

.breadcrumbs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.breadcrumbs__block__item {
  margin-right: 7px;
  cursor: pointer; }
  .breadcrumbs__block__item.icon {
    color: #666666;
    margin: 0px 7px 0px 0px; }
  .breadcrumbs__block__item.current {
    color: #000; }

.test-block {
  padding: 30px 0px 80px 0px; }
  @media (max-width: 991px) {
    .test-block {
      padding: 0px 0px 80px 0px; } }

.test-block__container__item {
  padding: 25px 0px;
  border-bottom: 1px solid #f1f1f1; }
  @media (max-width: 767px) {
    .test-block__container__item {
      padding: 20px 0px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.test-block__container__num {
  margin: 0px 30px 0px 0px;
  font-size: 23px; }
  @media (max-width: 767px) {
    .test-block__container__num {
      font-size: 20px; } }
  @media (max-width: 500px) {
    .test-block__container__num {
      font-size: 17px; } }

.test-block__container__title {
  width: 70%;
  margin: 0px 30px 0px 0px;
  font-size: 23px;
  color: #000;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  @media (max-width: 767px) {
    .test-block__container__title {
      font-size: 20px; } }
  @media (max-width: 1200px) {
    .test-block__container__title {
      width: 64%; } }
  @media (max-width: 991px) {
    .test-block__container__title {
      width: 54%; } }
  @media (max-width: 767px) {
    .test-block__container__title {
      width: 43%; } }
  @media (max-width: 500px) {
    .test-block__container__title {
      font-size: 17px; } }

@media (max-width: 500px) {
  .test-block__container__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.test-block__container__statistic__icon {
  padding: 6px 10px;
  border: 2px solid #e5e5e5;
  border-radius: 40px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #000;
  margin-right: 8px;
  font-size: 17px;
  text-align: center; }
  @media (max-width: 767px) {
    .test-block__container__statistic__icon {
      font-size: 15px;
      padding: 4px 10px; } }
  @media (max-width: 500px) {
    .test-block__container__statistic__icon {
      padding: 4px 10px;
      margin: 10px 0px; } }
  .test-block__container__statistic__icon:hover {
    background: #f9f9f9;
    color: #1264fa; }

.test-block__container__statistic__amount {
  padding: 6px 10px;
  border: 2px solid #e5e5e5;
  border-radius: 40px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #000;
  font-size: 17px;
  text-align: center; }
  .test-block__container__statistic__amount:hover {
    background: #1a6fef;
    color: #fff; }
  @media (max-width: 767px) {
    .test-block__container__statistic__amount {
      font-size: 15px;
      padding: 4px 10px; } }

.navbar-toggler:focus {
  outline: none; }

.certain-test-block {
  padding: 50px 0px; }

.numbers__block {
  background: #f9f9f9;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px; }
  @media (max-width: 1200px) {
    .numbers__block {
      min-width: 247px; } }

.numbers__block__item {
  padding: 10px 10px;
  border-radius: 4px;
  background: #f9f9f9; }
  .numbers__block__item ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 4px; }
    .numbers__block__item ul li {
      font-size: 16px;
      text-align: center;
      padding: 9px 12px 9px 12px;
      margin: 6px;
      border-radius: 4px;
      background: #ffffff;
      cursor: pointer;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      .numbers__block__item ul li:hover {
        background: #1a6fef;
        color: #ffffff !important; }

.numbers__block__button {
  background: #ffffff;
  padding: 13px 35px;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid rgba(255, 0, 0, 0.2);
  font-size: 18px;
  line-height: 16px;
  color: #ff0000;
  font-weight: 600;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer; }
  .numbers__block__button:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    color: #ff0000; }
  .numbers__block__button:active {
    border: 1px solid rgba(224, 3, 3, 0.925);
    outline: none; }
  .numbers__block__button:focus {
    outline: none; }

@media (max-width: 1200px) {
  .question-block {
    margin-left: 40px; } }

@media (max-width: 991px) {
  .question-block {
    margin-top: 30px;
    margin-left: unset; } }

.question-block__row.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px; }
  @media (max-width: 500px) {
    .question-block__row.buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (max-width: 500px) {
    .question-block__row.buttons .button-left {
      margin-bottom: 15px; } }
  .question-block__row.buttons .button-left button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #1a6fef;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 25px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .question-block__row.buttons .button-left button img {
      margin-left: 10px;
      margin-top: 3px; }
    .question-block__row.buttons .button-left button:hover {
      -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
      transform: translateY(2px); }
    .question-block__row.buttons .button-left button:focus {
      outline: none; }
    .question-block__row.buttons .button-left button:active {
      background: #1662d4; }
  .question-block__row.buttons .button-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .question-block__row.buttons .button-right button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #f9f9f9;
      border-radius: 4px;
      font-size: 18px;
      padding: 15px 25px;
      margin-left: 10px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
      .question-block__row.buttons .button-right button .first {
        margin-right: 10px;
        margin-top: 3px; }
      .question-block__row.buttons .button-right button .last {
        margin-left: 10px;
        margin-top: 3px; }
      .question-block__row.buttons .button-right button:hover {
        background: #e7e7e7; }
      .question-block__row.buttons .button-right button:focus {
        outline: none; }

.question-block__row__text {
  font-size: 21px;
  line-height: 130%;
  color: #222222;
  margin-bottom: 25px; }

.question-block__row__answer .question-block__row__answer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0px;
  font-size: 17px; }
  .question-block__row__answer .question-block__row__answer__item label {
    margin: 0px 10px; }

.result-block {
  padding: 40px 0px; }
  .result-block .title {
    font-size: 38px;
    line-height: 130%;
    color: #999999; }
    @media (max-width: 767px) {
      .result-block .title {
        font-size: 30px; } }
    @media (max-width: 470px) {
      .result-block .title {
        font-size: 25px; } }
  .result-block .title span {
    color: #000; }

.result-block__answer-block {
  margin-top: 30px; }

.answer-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0px;
  background: -webkit-linear-gradient(354.54deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #03a700;
  background: -o-linear-gradient(354.54deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #03a700;
  background: linear-gradient(95.46deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #03a700;
  color: #fff;
  border-radius: 4px; }
  @media (max-width: 470px) {
    .answer-block__container {
      padding: 20px 10px; } }
  .answer-block__container img {
    margin-bottom: 20px; }
  .answer-block__container p {
    font-size: 22px;
    line-height: 130%;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin: 10px 0px; }
  .answer-block__container h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); }
    @media (max-width: 470px) {
      .answer-block__container h3 {
        font-size: 29px;
        line-height: 120%; } }

.answer-block__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 800px;
  padding: 20px 0px;
  border-bottom: 1px solid #f5f5f5; }
  .answer-block__statistic .answer-block__statistic__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .answer-block__statistic .answer-block__statistic__item p {
      font-size: 20px;
      line-height: 130%;
      color: #999999;
      font-weight: normal;
      margin-bottom: 8px; }
      @media (max-width: 430px) {
        .answer-block__statistic .answer-block__statistic__item p {
          font-size: 18px;
          line-height: 123%; } }
      @media (max-width: 370px) {
        .answer-block__statistic .answer-block__statistic__item p {
          font-size: 15px; } }
    .answer-block__statistic .answer-block__statistic__item .num {
      color: #222222;
      font-weight: bold;
      font-size: 20px; }
      .answer-block__statistic .answer-block__statistic__item .num.grey {
        color: #575757;
        font-weight: 300;
        font-weight: normal; }
        .answer-block__statistic .answer-block__statistic__item .num.grey .red {
          color: #ff0000; }
        .answer-block__statistic .answer-block__statistic__item .num.grey span {
          color: #03a700;
          font-weight: bold; }

.result-block__answer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #f5f5f5;
  padding: 35px 0px; }
  .result-block__answer-list__item .num {
    font-size: 18px;
    line-height: 130%;
    color: #999999;
    margin-right: 40px; }
    @media (max-width: 560px) {
      .result-block__answer-list__item .num {
        margin-right: 15px; } }
    @media (max-width: 370px) {
      .result-block__answer-list__item .num {
        margin-right: 10px; } }
  .result-block__answer-list__item .answer-block {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #222222; }
    @media (max-width: 350px) {
      .result-block__answer-list__item .answer-block p {
        font-size: 16px;
        line-height: 119%; } }
    .result-block__answer-list__item .answer-block .answer-block__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item.line {
          border-right: 1px solid #e5e5e5;
          padding-right: 20px; }
          @media (max-width: 350px) {
            .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item.line {
              padding-right: unset; } }
        .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item.pad {
          padding-left: 20px; }
          @media (max-width: 350px) {
            .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item.pad {
              padding-left: 15px; } }
        .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item img {
          margin-right: 12px; }
        .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p {
          margin: 0;
          font-weight: normal;
          font-size: 18px;
          line-height: 100%;
          color: #666666; }
          @media (max-width: 350px) {
            .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p {
              font-size: 16px; } }
          .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p span {
            font-weight: 500;
            font-size: 19px;
            line-height: 130%;
            color: #222222; }
            @media (max-width: 350px) {
              .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p span {
                font-size: 16px; } }
          .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p .color {
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            color: #03a700; }
            @media (max-width: 350px) {
              .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p .color {
                font-size: 16px; } }
            .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p .color.red {
              color: #ff0000; }
              @media (max-width: 350px) {
                .result-block__answer-list__item .answer-block .answer-block__text .answer-block__item p .color.red {
                  font-size: 16px; } }

.news-page-block {
  padding: 50px 0px; }
  @media (max-width: 767px) {
    .news-page-block {
      padding-top: 20px; } }
  .news-page-block .title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px; }
  .news-page-block img {
    max-width: 100%;
    max-height: 400px;
    margin: 10px 0px 20px 0px; }
  .news-page-block .text {
    font-size: 18px;
    line-height: 119%;
    max-width: 890px; }

/*NEW-LIST-PAGE*/
.news-list-page_block {
  padding: 25px 0px; }

.news-list-page_block__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px; }
  .news-list-page_block__cont .title {
    font-size: 21px;
    font-weight: bold; }
  .news-list-page_block__cont .text {
    font-size: 16px;
    line-height: 110%;
    max-width: 650px; }
  .news-list-page_block__cont .news-img {
    width: 260px;
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 10px;
    margin-right: 15px; }
    @media (max-width: 767px) {
      .news-list-page_block__cont .news-img {
        width: 200px;
        max-height: 115px; } }
    @media (max-width: 530px) {
      .news-list-page_block__cont .news-img {
        width: 100%;
        height: 100%;
        margin-right: unset; } }
  @media (max-width: 530px) {
    .news-list-page_block__cont {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

/*DICTIONARY-PAGE */
.dictionaty-page_block {
  padding: 25px 0px; }
  .dictionaty-page_block .dictionaty-page_block__cont {
    padding: 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .dictionaty-page_block .dictionaty-page_block__cont .title {
      font-size: 21px;
      font-weight: bold;
      margin: 0;
      margin-right: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .dictionaty-page_block .dictionaty-page_block__cont span {
      margin: 0px 10px; }
    .dictionaty-page_block .dictionaty-page_block__cont .text {
      font-size: 15px;
      margin: 0px;
      margin-right: 7px;
      max-width: 800px;
      line-height: 118%; }
